<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <link rel="stylesheet" href="css/style.css" />
        <title>Paypal Checkout App: HOME</title>
</head>
<body>
    <h1>Paypal Checkout App: HOME</h1>

    <div class="container mt-4">
        {{{body}}}
    </div>
</body>
</html>
